@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.btn-11,
.btn-11 *,
.btn-11 :after,
.btn-11 :before,
.btn-11:after,
.btn-11:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-11 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #41a854;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-11:disabled {
  cursor: default;
}
.btn-11:-moz-focusring {
  outline: auto;
}
.btn-11 svg {
  display: block;
  vertical-align: middle;
}
.btn-11 [hidden] {
  display: none;
}
.btn-11 {
  border-radius: 1rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.5rem 0.5rem;
  position: relative;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.btn-11 span {
  mix-blend-mode: difference;
}
.btn-11:before {
  -webkit-animation: bg-scroll 3s linear infinite;
  animation: bg-scroll 3s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  background: repeating-linear-gradient(
    45deg,
    hsla(0, 0%, 100%, 0.2),
    hsla(0, 0%, 100%, 0.2) 0.7%,
    transparent 0,
    transparent 4%
  );
  content: "";
  display: block;
  height: 300%;
  left: -100%;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.3s, background-color 0.2s;
  width: 300%;
}
.btn-11:hover:before {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
}
.btn-11:active:before {
  background-color: #fff;
}
@-webkit-keyframes bg-scroll {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(33%);
  }
}
@keyframes bg-scroll {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(33%);
  }
}


.btn-1,
.btn-1 *,
.btn-1 :after,
.btn-1 :before,
.btn-1:after,
.btn-1:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-1 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #005ee1;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-1:disabled {
  cursor: default;
}
.btn-1:-moz-focusring {
  outline: auto;
}
.btn-1 svg {
  display: block;
  vertical-align: middle;
}
.btn-1 [hidden] {
  display: none;
}
.btn-1 {
  border-radius: 1rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.5rem 0.5rem;
  position: relative;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.btn-1 span {
  mix-blend-mode: difference;
}
.btn-1:before {
  -webkit-animation: bg-scroll 3s linear infinite;
  animation: bg-scroll 3s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  background: repeating-linear-gradient(
    45deg,
    hsla(0, 0%, 100%, 0.2),
    hsla(0, 0%, 100%, 0.2) 0.7%,
    transparent 0,
    transparent 4%
  );
  content: "";
  display: block;
  height: 300%;
  left: -100%;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.3s, background-color 0.2s;
  width: 300%;
}
.btn-1:hover:before {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
}
.btn-1:active:before {
  background-color: #fff;
}
@-webkit-keyframes bg-scroll {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(33%);
  }
}
@keyframes bg-scroll {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(33%);
  }
}

.btn-50,
.btn-50 *,
.btn-50 :after,
.btn-50 :before,
.btn-50:after,
.btn-50:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-50 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-50:disabled {
  cursor: default;
}
.btn-50:-moz-focusring {
  outline: auto;
}
.btn-50 svg {
  display: block;
  vertical-align: middle;
}
.btn-50 [hidden] {
  display: none;
}
.btn-50 {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 2px 2px #eee;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  padding: 20px 60px;
  perspective: 800px;
  position: relative;
  text-transform: uppercase;
  transform: rotateX(32deg);
  transform-style: preserve-3d;
  transition: transform 0.2s;
}
.btn-50:hover {
  transform: rotateX(38deg) translateY(7px);
}
.btn-50:before {
  background: hsla(0, 0%, 100%, 0.3);
  content: "";
  filter: blur(80px);
  height: 400%;
  left: -50%;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translateY(50px);
  width: 200%;
}
